:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



body {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
}

.app-background {
  min-height: 100vh;
  background-image: url("/Images/backgroundImage.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Faded overlay */
.app-background::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.5); /* adjust fade here */
  z-index: 0;
}

.app-content {
  position: relative;
  z-index: 1;
}

/* Center container */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

/* Card style */
.login-card {
  width: 350px;
  padding: 35px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

/* Title */
.login-title {
  text-align: center;
  margin-bottom: 20px;
}

/* Input group */
.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-group label {
  margin-bottom: 5px;
  font-weight: 500;
}

.input-group input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.input-group input:focus {
  border-color: #d6a77a;
}

/* Button */
.login-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #d6a77a;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-btn:hover {
  background-color: #c48d5f;
  color:white;
}

/* Error */
.error-message {
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
  color: red;
}


/*ROLES CSS*/

.role-container {
  padding: 10px;
  text-align: center;
}
.title {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 600;
  color: #333;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  gap: 5px;
  /* padding: 0 40px; */
}

.role-card {
  background: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

.role-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.role-card h3 {
  margin-bottom: 15px;
  color: #444;
}

.role-btn-container {
  display: flex;
  justify-content: center;
  align-items:flex-start;
  gap: 10px;
}

/*Button Container*/
.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:15px;
}

/* Button */
.edit-btn {
  margin-top: 20px;
  width: 30%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #d6a77a;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.edit-btn:hover {
  background-color: #c48d5f;
}


.google-btn {
  width: 100%;
  padding: 12px;
  border-radius: 50px;
  border: 1px solid #ddd;
  background: white;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
  transition: 0.3s ease;
}

.google-btn:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.google-icon {
  width: 20px;
  height: 20px;
}

.google-consent-text {
  margin-bottom: 20px;
  font-size: 14px;
  text-align: center;
  color: #333;
}

.google-consent-text h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.google-consent-text p {
  line-height: 1.5;
}