:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



body {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

.app-background {
  min-height: 100vh;
  background-image: url("/Images/backgroundImage.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Faded overlay */
.app-background::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.5); /* adjust fade here */
  z-index: 0;
}

.app-content {
  position: relative;
  z-index: 1;
}

/* Center container */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

/* Card style */
.login-card {
  width: 350px;
  padding: 35px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

/* Title */
.login-title {
  text-align: center;
  margin-bottom: 20px;
}

/* Input group */
.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-group label {
  margin-bottom: 5px;
  font-weight: 500;
}

.input-group input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.input-group input:focus {
  border-color: #d6a77a;
}

/* Button */
.login-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #d6a77a;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-btn:hover {
  background-color: #c48d5f;
  color:white;
}

/* Error */
.error-message {
  color: red;
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
}


/*ROLES CSS*/

.role-container {
  padding: 10px;
  text-align: center;
}
.title {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 600;
  color: #333;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  gap: 5px;
  /* padding: 0 40px; */
}

.role-card {
  background: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

.role-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.role-card h3 {
  margin-bottom: 15px;
  color: #444;
}

.role-btn-container {
  display: flex;
  justify-content: center;
  align-items:flex-start;
  gap: 10px;
}

/*Button Container*/
.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:15px;
}

/* Button */
.edit-btn {
  margin-top: 20px;
  width: 30%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #d6a77a;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.edit-btn:hover {
  background-color: #c48d5f;
}

/* USER TABLE CARD */

.user-table-wrapper {
  padding: 40px;
  display: flex;
  justify-content: center;
}

.user-table-card {
  width: 90%;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 25px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.user-table thead {
  background-color: #d6a77a;
  color: white;
}

.user-table th,
.user-table td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.user-table tbody tr:hover {
  background-color: rgba(214, 167, 122, 0.1);
}

.user-table img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

/*USER*/

/* .user-app-background {
  min-height: 115vh;
  background-image: url("/Images/backgroundImage.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
} */

.user-app-background {
  min-height: 115vh;
  background-image: url("/Images/backgroundImage.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  display: flex;
}

/* Faded overlay */
.user-app-background::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.5); /* adjust fade here */
  z-index: 0;
  pointer-events: none;

}


.user-app-content {
  position: relative;
  z-index: 1;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}


.google-btn {
  width: 100%;
  padding: 12px;
  border-radius: 50px;
  border: 1px solid #ddd;
  background: white;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
  transition: 0.3s ease;
}

.google-btn:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.google-icon {
  width: 20px;
  height: 20px;
}

.google-consent-text {
  margin-bottom: 20px;
  font-size: 14px;
  text-align: center;
  color: #333;
}

.google-consent-text h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.google-consent-text p {
  line-height: 1.5;
}

/* Custom File Upload */

.custom-file-upload {
  position: relative;
  width: 100%;
}

.custom-file-upload input[type="file"] {
  display: none;
}

.file-label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 12px;
  border: 2px dashed #d6a77a;
  background: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
  text-align: center;
}

.file-label::before {
  content: "📁";
  margin-right: 8px;
  font-size: 18px;
}

/* Calender dashboard */

.calendar-card {
  width: 96%;
  background: #ffffff;   /* pure white */
  border-radius: 16px;
  padding: 25px;
  margin:4px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

.rbc-month-view,
.rbc-time-view,
.rbc-calendar {
  background: #ffffff !important;
}

.rbc-day-bg {
  background: #ffffff;
}

.rbc-today {
  background-color: #f5f5f5 !important;
}

.calendar-controls {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 20px;
}

.calendar-controls button,select{
  padding: 8px 16px;
  border-radius: 20px;
  border: 1px solid #d6a77a;
  background: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.calendar-controls button:hover,select:hover {
  background: #f5e6d8;  
}

.active-btn {
  background: #d6a77a !important;
  color: white;
  font-weight: 600;
  border: none;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.calendar-title {
  font-size: 22px;
  font-weight: 600;
  color: #333;
}

/* Hamburger fixed on left */

.hamburger-left {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 22px;
  border: none;
  background: transparent;
  padding: 4px 8px;   /* smaller width */
  border-radius: 6px;
  cursor: pointer;
  z-index: 200;
  box-shadow: none;
}

/* remove hover border */
.hamburger-left:hover {
  border: none;
  background: transparent;
}

/* remove focus outline */
.hamburger-left:focus,
.hamburger-left:focus-visible,
.hamburger-left:active {
  outline: none;
  border: none;
  box-shadow: none;
}
/* Sidebar */

/* Layout wrapper */
.layout-wrapper {
  display: flex;
}

/* Sidebar */

.sidebar {
  width: 0;
  height: 100vh;
  background: white;
  padding: 0;
  overflow: hidden;
  box-shadow: none;
  transition: width 0.3s ease, padding 0.3s ease;
  position: relative;
  z-index: 5;
}

.sidebar.open {
  width: 250px;
  padding: 25px;
  box-shadow: 2px 0 15px rgba(0,0,0,0.1);
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 30px;
}

.sidebar-link {
  text-decoration: none;
  color: black;
  font-weight: 500;
  display: block;
  padding: 8px 0;

}

.sidebar-link:hover {
  color: #d6a77a;
  transform: translateX(4px);
  transition: 0.2s;
}

/* Main page */

.page-container {
  flex: 1;
  transition: margin-left 0.3s ease;
}

.page-container.shift {
  margin-left: 20px;
}

/* + Button */

.add-event-btn {
  margin: 10px 0 15px 0;
  padding: 8px 14px;
  background: #d6a77a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.add-event-btn:hover {
  background: #c48d5f;
}
/* Popup Overlay */

.event-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}

/* Popup */

.event-popup {
  width: 500px;
  height: 540px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

/* Close Button */

.close-popup {
  position: absolute;
  right: 15px;
  top: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

/* Inputs */

.event-popup input,
.event-popup textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.save-event-btn {
  margin-top: 20px;
  background: #d6a77a;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}


/* Logout */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;   
}

.popup {
  background: white;
  padding: 25px;
  border-radius: 8px;
  z-index: 10000;
}

.buttons{
  display: flex;
  justify-content: center;
  gap: 20px;   
  margin-top: 15px;
}
